.class-container {
  .playlist-content {
    .playlist-content-player {
      display: block;
      width: 100%;
      height: 420px;
      border: none;
      flex: 1 0 auto;
    }

    .playlist-content-title {
      font-weight: 600;
      background-color: rgba(255, 255, 255, 0.01);
      padding-top: 1rem;
    }

    .playlist-content-controls {
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.01);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      button.player-controls-btn {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.3);
        }

        &[disabled] {
          background-color: rgba(255, 255, 255, 0.02);
        }

        &.completed {
          color: #92e594;
          background-color: rgba(146, 229, 148, 0.1);

            &:hover {
                background-color: rgba(146, 229, 148, 0.2);
            }
        }
      }
    }
  }

  .playlist-items {
    height: 100%;
    overflow-y: auto;
    width: 420px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4px;

    .playlist-items-list {
      display: flex;
      flex-direction: column;
      width: 100%;

      button.playlist-items-list-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: start;

        padding: 0.5rem 1rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.1);
        background-blend-mode: multiply;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.3);
        }

        &.completed {
          background-color: rgba(146, 229, 148, 0.1);
          font-weight: 600;

          &:hover {
            background-color: rgba(146, 229, 148, 0.2);
          }

          &:active {
            background-color: rgba(146, 229, 148, 0.3);
          }
        }

        &.active {
          background-color: rgba(255, 255, 255, 0.3);

          &.completed {
            background-color: rgba(146, 229, 148, 0.3);
          }
        }

        button.progress-switch {
          height: 100%;
          opacity: 0;

          &.completed {
            opacity: 1;
          }

          i {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0.3rem;
            border-radius: 50%;
            transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
          }

          &:hover {
            opacity: 1;

            i {
              background-color: rgba(255, 255, 255, 0.2);
            }
          }
        }

        .playlist-items-list-item-title {
          flex: 1;
          font-weight: 600;
        }

        .playlist-items-list-item-duration {
          font-weight: 600;
        }
      }
    }
  }
}

.playlist-content-notes {
  margin: 0 10px;
  padding: 10px;
  flex: 1;
}